.aboutUsContainer {
    margin: 2rem auto;
    background-color: var(--cor-fundo-claro);
    height: 20rem;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.aboutUsContainer p:first-child {
 margin-top: 2.5rem;
 color: var(--acento-principal);
 font-size: 1.5rem;
 font-weight: 600;
}

.aboutUsContainer p:nth-child(2) {
    color: var(--texto-secundario);
    font-size: 1rem;
}

