.destinationsContainer{
    background-color:var(--cor-fundo-claro);
    width: 100vw;
    height: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.destinationsTitle{
    color: var(--acento-principal);
    font-size: 1.5rem;
    font-weight: 600;
}

.destinations{
    margin-top: 2rem;
    display: flex;
    gap: .5rem;

}


.destinations button{
    background-color: transparent;
    padding: .5rem 1rem;
    border: .1rem solid var(--borda-neutra);
    border-radius: .5rem;
}

.destinyInfo{
    margin-top: 1.5rem;
}

.nameDestiny{
    font-size: 1.3rem;
    color: var(--texto-principal);
    text-align: center;
}

.historyDestiny{
    margin: .5rem auto;
    font-size: 1rem;
    color: var(--texto-secundario);
    text-align: center;
    width: 95%;
}

.imgDestiny{
    margin-top: 1.5rem;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: .5rem;
}

.imgDestiny div{
    width: 100%;
    height: 7rem;
    object-fit: cover;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}



.firstPhotoDestination img, .secondPhotoDestination img, .thirdPhotoDestination img, .fourthPhotoDestination img{
    width: 30%; 
}


.destinationButton.active{
    background-color: var(--acento-principal);
    color: var(--branco);
}