header{
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--cor-fundo-claro);
    width: 100vw;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}


.iconCompanyName{
    margin-left: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.icon{
    width: 2.5rem;
}

.menuButton{
    margin-right: 1rem;
    width:  1.5rem;
    height: 1.5rem;
    border: none;
    border-radius: 2px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
}

.menuButton span{
    width: 1.5rem;
    height: .2rem;
    background: var(--verde-400);
    position: absolute;
    border-radius: 10px;
    transition: 0.4s;
}

.menuButton .top{
    transform: translateY(-8px);
}

.menuButton .bottom{
    transform: translateY(8px);
}

.menuButton.active .middle{
    transform: translateX(80px);
}

.menuButton.active .top{
    width: 50px;
    transform: translateY(0) rotate(45deg);
}

.menuButton.active .bottom{
    width: 50px;
    transform: translateY(0) rotate(315deg);
    transition-delay: 0.2s;
}

.menuNavigation{
    position: absolute;
    right: 0;
    top: 3rem;
    z-index: 10000;
    width: 50%;
    height: 100rem;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    border-top: .1rem solid var(--verde-400);
    background-color: var(--cor-fundo-claro);
    transform: translateX(150%);
    transition: 0.5s ease-in-out;
    z-index: 20;
}

.menuNavigation.active{
    transform: translateX(0);
}

.navigationMenuList{
    margin-top: 1rem;
}

.navigationMenuList li{
 padding: 1rem 0 1rem 1rem;
}

.navigationMenuList button{
    background-color: var(--cor-fundo-claro);
    border: none;

}

.destinationMenu{
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 16px;
    cursor: pointer;
}

.destinationMenuSpan{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1rem;
    height: 1rem;
    transform: rotate(180deg);
    transition: 0.2s;
}

.destinationMenuSpan.active{
    transform: rotate(0deg);
}
.destinationMenuSpan span{
    position: absolute;
    display: inline-block;
    width: .1rem;
    height: .7rem;
    border-radius: 5px;
    background-color: var(--verde-400);
    left: 50%;
    top: 50%;
}


.firstSpanDestinationMenu{
    transform-origin: top;
    transform: translate(-50%, -50%) rotate(40deg);
}

.lastSpanDestinationMenu{
    transform-origin: top;
    transform: translate(-50%, -50%) rotate(-40deg);
}

.destination{
    display: none;
    margin-left: .5rem;
}

.destination.active{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.socialNetworks{
    display: flex;
    gap: 1rem;
    margin-left: 1rem;
}